/* Created by: George Khalil
* Created on: May 2024
* This file contains the CSS for index.html
*/


.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: lightgreen;
}

.page-content {
  color: rgb(5, 93, 10);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.page-content-answer {
  color: rgb(255 255 255);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: rgb(96, 125, 123)
}

.container {
  text-align: center;
  margin-top: 50px;
}

.Cookies {
  width: 300px;
  cursor: pointer;
  justify-items: center;
}